*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

*.keystore
*.jks
*.apk
*.aab
*.ap_
*.dex
*.class
*.log
*.tmp
*.bak
*.swp
*~

/app/build/
/app/release/

/src/main/jniLibs/**/*.so

.navigation/

.robolectric/
.output/